dist
logs
*.csv
.env
!decp_augmente_valides_*_test.csv
.venv
*.egg-info
*.parquet
!tests/data/sirene/*.parquet
!code_officiel_geographique.parquet
*.gz
*.zip
__pycache__
.pytest_cache
build
.vscode
.idea
todo.md
stats.ipynb
wiki
*.lock
data/sirene*
data/storage
