# Les variable qui ne sont pas explicitement obligatoires sont optionnelles

# Répertoire racine du projet (généralement le répertoire de decp-processing)
# Cette variable est obligatoire, à moins de configurer toutes les autres variables *_DIR
DECP_BASE_DIR=

# URI de connexion à POSGRESQL
# obligatoire pour permettre la parallélisation
# ou alors mettre MAX_PREFECT_WORKERS="1" pour désactiver la parallélisation
# PREFECT_API_DATABASE_CONNECTION_URL="postgresql+asyncpg://postgres:yourTopSecretPassword@localhost:5432/prefect

# Liste des datasets à traiter par decp-processing
DATASETS_REFERENCE_FILEPATH="data/source_datasets.json"

# Le dossier où seront stockées les données téléchargées. Défaut : DECP_BASE_DIR/data
# Si vide, laissé commenté
# DECP_DATA_DIR=

# Chemin de dossier local où enregistrer les données produites en local
# Par défaut DECP_ASE_DIR/dist
# Si vide, laissé commenté
# DECP_DIST_DIR=

# Activer ou non la publication du résultat sur data.gouv.fr (src/tasks/publish.py)
# Mettre True pour l'activer
DECP_PROCESSING_PUBLISH=False

# La clé API se trouve dans votre compte data.gouv.fr. Utilisée pour publier les données produites.
DATAGOUVFR_API_KEY=

# Le dossier où seront stockées les données SIRENE téléchargées (un dossier par mois). Défaut: DATA_DIR
SIRENE_DATA_PARENT_DIR=

# L'URL à laquelle télécharger le parquet des unités légales et établissements (Stock pas historique)
SIRENE_UNITES_LEGALES_URL=https://www.data.gouv.fr/api/1/datasets/r/350182c9-148a-46e0-8389-76c2ec1374a3

# L'adresse de l'API Prefect de production
# (pour les tests (pytest), laisser cette variable vide, un serveur temporaire sera créé en local)
PREFECT_API_URL=

# Clé API pour se connecter au serveur prefect de production
PREFECT_API_AUTH_STRING=

# Dossier de stockage des résultats de tâches et du cache Prefect
# Défaut : $PREFECT_HOME/storage, soit /home/$USER/.prefect/storage
# PREFECT_LOCAL_STORAGE_PATH=

# Nombre maximal de workers utilisables par Prefect. Défaut : 16
# Actuellement le multithreading n'est pas supporté
MAX_PREFECT_WORKERS="1"

# Durée avant l'expiration du cache des ressources (en heure). Défaut : 168 (7 jours)
# CACHE_EXPIRATION_TIME_HOURS="168"

# POSTGRESQL output
# Si vous ne souhaitez pas sauvegarder dans POSTGRESQL, ne pas modifier cette valeur
# La base de données doit être créée auparavant
POSTGRESQL_DB_URI="postgresql://user:pass@server:port/database"

# Pour ignorer le cache Prefect mettre "false"
DECP_USE_CACHE="true"

# Timeout pour la publication de chaque ressource sur data.gouv.fr. Défaut : 300 (5 minutes)
# DECP_PROCESSING_PUBLISH_TIMEOUT=

# Mode de scraping
#- all : toutes les années de 2018 à aujourd'hui
#- month : juste les données du mois en cours (valeur par défaut)
#- year juste les données du mois en cours
SCRAPING_MODE=

# Identifiants de ressources data.gouv.fr exclues du traitement
# séparés par des virgules
EXCLUDED_RESOURCES=

# Ne traiter que ce dataset (par son ID)
SOLO_DATASET=
